@import url('root.css');

:root {
  --color-logo-text: var(--color-white-lightest);

  --color-bg: var(--color-black);
  --color-bg-soft: var(--color-black-lighter);
  --color-bg-mute: var(--color-black-lightest);

  --color-fg: var(--color-white);
  --color-fg-soft: var(--color-white-darker);
  --color-fg-mute: var(--color-white-darkest);

  --color-green-soft: #1dffbd;
  --color-green-mute: #1dffbd;

  --color-blue-soft: #229aff;
  --color-blue-mute: #229aff;

  --color-red-soft: #fa465b;
  --color-red-mute: #fa465b;

  --color-yellow-soft: #ffff82;
  --color-yellow-mute: #ffff82;
}

img.mouseless:is(.logo),
img.mouseless:is(.logo:is(.full)) {
  content: url(../logo/svg/logo-full-primary.svg);
}

img.mouseless:is(.logo:is(.short)) {
  content: url(../logo/svg/logo-short-primary.svg);
}

img.mouseless:is(.logo:is(.mono)),
img.mouseless:is(.logo:is(.full:is(.mono))) {
  content: url(../logo/svg/logo-full-white.svg);
}

img.mouseless:is(.logo:is(.short:is(.mono))) {
  content: url(../logo/svg/logo-short-white.svg);
}

img.mouseless:is(.logo:is(.mark:is(.mono))) {
  content: url(../logo/svg/logo-mark-white.svg);
}
