@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --color-logo-mark: #fa465b;

  --color-black-darkest: #000000;
  --color-black: #061819;
  --color-black-lighter: #092122;
  --color-black-lightest: #163738;

  --color-white-lightest: #ffffff;
  --color-white: #f1f4f4;
  --color-white-darker: #e3e8e8;
  --color-white-darkest: #c7d1d1;

  --color-green: #1dffbd;
  --color-blue: #229aff;
  --color-red: #fa465b;
  --color-yellow: #ffff82;

  --font-default: 'Roboto Mono', monospace;
  --font-heading: 'DM Sans', sans-serif;
  --font-size: 14px;
  --line-height: 1.45;

  --height-logo: 25px;

  --width-content: 80ch;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-default);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

img.mouseless:is(.logo) {
  height: var(--height-logo);
}

img.mouseless:is(.logo:is(.mark)) {
  content: url(../logo/svg/logo-mark-primary.svg);
}

nav {
  font-family: var(--font-heading);
}

h1, h2, h3, h4, h5, h6, th {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--color-logo-text);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  scroll-margin-top: 1.5em;
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

a {
  color: var(--color-fg);
}

a:hover {
  color: var(--color-logo-mark);
}

p {
  max-width: var(--width-content);
}

ul, ol {
  padding-inline-start: 3ch;
  max-width: calc(var(--width-content) - 3ch);
}

blockquote {
  max-width: calc(var(--width-content) - 3ch);
  margin-inline-start: 3ch;
  margin-inline-end: 0;
}

table th, table td {
  padding: 0.5em;
}

code, pre {
  background-color: var(--color-bg-soft);
}
