@import url('root.css');

:root {
  --color-brand: #fa465b;

  --color-bg: #ebebeb;
  --color-bg-2: #cacaca;
  --color-bg-3: #888888;
  --color-bg-4: #646464;

  --color-fg: #000000;
  --color-fg-2: #111111;

  --color-success: #1c8c12;
  --color-info: #1a2da6;
  --color-danger: #c41a1a;
  --color-warning: #9f5f00;
}

img.mouseless:is(.logo),
img.mouseless:is(.logo:is(.full)) {
  content: url(../logo/svg/logo-full-secondary.svg);
}

img.mouseless:is(.logo:is(.short)) {
  content: url(../logo/svg/logo-short-secondary.svg);
}

img.mouseless:is(.logo:is(.mono)) {
  content: url(../logo/svg/logo-short-black.svg);
}
