@import url('root.css');

:root {
  /* light theme */
  --color-bg: #ebebeb;
  --color-fg: #000000;
  --color-brand: #fa465b;
  --color-bg-body: #ebebeb;
  --color-bg-code: #88888832;
  --color-bg-box: #111111;
  --color-bg-box-menu: #cacaca;
  --color-fg-active: #111111;
  --color-fg-passive: #111111;
  --color-fg-code: #444444;
  --color-border: #cacaca;
  --color-border-code: #646464;

  --color-box-tip: #1c8c12;
  --color-box-info: #1a2da6;
  --color-box-danger: #c41a1a;
  --color-box-warning: #9f5f00;
  --color-box-default: var(--color-fg);

  --color-fg-table: #000000;
  --color-bg-table: #cacaca;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

img.mouseless:is(.logo),
img.mouseless:is(.logo:is(.full)) {
  content: url(../logo/svg/logo-full-secondary.svg);
}

img.mouseless:is(.logo:is(.short)) {
  content: url(../logo/svg/logo-short-secondary.svg);
}

img.mouseless:is(.logo:is(.mark)) {
  content: url(../logo/svg/logo-mark-primary.svg);
}

a {
  color: color-mix(in srgb, var(--color-brand), var(--color-bg) 10%);
}

a:hover {
  color: var(--color-brand);
}
