---
---

@import "{{ site.theme }}";

.markdown-body {
    table {
        tr,
        tr:nth-child(2n) {
            background: #000;
        }
    }
    pre {
        background-color: #000;
    }
}
