---
---

@import "{{ site.theme }}";

.markdown-body {
    table {
        tr,
        tr:nth-child(2n) {
            background: var(--color-bg-table);
        }
    }
    .highlight pre,
    pre {
        background-color: var(--color-bg-code);
    }
}

.highlight {
    background-color: var(--color-bg);
}
